<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>IPL</h1>
        <h2>Indian premiere league which has started in 2008</h2>
        <h3>Teams which will play ipl</h3>
        <h3>Rcb</h3>
        <h3>CSk</h3>
        <h3>MI</h3>
        <h3>Kkr</h3>
        <h3>Gl</h3>
        <h3>RR</h3>
        <h3>SRH</h3>
        <h3>LSG</h3>
        <h3>DD</h3>
        <h3>punjab</h3>
        <a href="{% url 'app2:rcb' %}"> move to rcb</a>
    </center>
    
</body>
</html>